.ChatBot {
  width:650px;
}

.page {
  height: 100%;
  background-color: #F1F3F4;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.image {
  width: 254px;
  height: 82px;
}

.block {
  width: 626px;
  height: 612px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  margin-right: 30px;
}

.text {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .block {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .text {
    font-size: 16px;
    font-weight: normal
  }
}